*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img{
  width: 100%;
}
figure{
  width: 20%;
}

#lista {
  font-family:Arial;
  font-weight:bold;
  font-size:13px;
}
.separador {
  color:gray;
}
#lista li {
   display:inline;
   padding-left:3px;
   padding-right:3px;
}
a {
  text-decoration:none;
}
a:hover {
  color:red;
  background-color:lightgray;
}
.fondo{
  background-image: url('/img/vikingsposter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.fondo2{
  background-image: url('/img/americanposter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.fondoMoviesList {
  background-image: url('/img/vikingsposter.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  width: 50%;
  background-position: right;
}
.fondoCRUD {
  padding: 30px;
  background-image: url("/img/americanposter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.fondoTransparente {
  background-color: rgba(189, 199, 191, 0.7);
  width: 30%;
  padding: 10px;
  margin: auto;
  text-align: center;
}

/* Estilos para el menu */
#menu {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.88);
  left: -200px;
}

#menu ul li {
  color: #fff;
  list-style: none;
  text-align: center;
  padding: 15px 5px;
  border-bottom: 1px solid rgb(100, 100, 100, .88);
}

#menu.mostrar {
  left: 0
}

.logoDH {
  cursor: pointer;
}

.toggle img{
  display: block;
  width: 40px;
}