*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img{
  width: 100%;
}
figure{
  width: 20%;
}

#lista {
  font-family:Arial;
  font-weight:bold;
  font-size:13px;
}
.separador {
  color:gray;
}
#lista li {
   display:inline;
   padding-left:3px;
   padding-right:3px;
}
a {
  text-decoration:none;
}
a:hover {
  color:red;
  background-color:lightgray;
}
.fondo{
  background-image: url('/img/vikingsposter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.fondo2{
  background-image: url('/img/americanposter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}