<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/movies">Listado de Películas</a></li>
        <li><a href="/movies/add">Agregar una Pelicula</a></li>
      </ul>
    </div>

    <figure class="logoDH">
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <br>
    <%- include('./partials/header.ejs') %>
    <script src="/js/index.js"></script>
  </body>
</html>
